<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false" >
  <variable name="verbose" value="${longdate} | ${machinename} | ${processid} | ${processname} | ${level} | ${logger} | ${message}"/>
  <targets>
    <target name="aws" type="AWSTarget" logGroup="BotLogger" region="us-east-1"/>
    <target name="logfile" xsi:type="Console" layout="${callsite} ${message}" /> 
    <!-- <target name="fileLogger" xsi:type="File" layout="${verbose}" fileName="${basedir}/${shortdate}.log" /> -->
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="aws,logfile" />
  </rules>
</nlog>
